.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0.7;
}

.status-bar i {
  font-size: 14px;
}

.status-bar i:last-child {
  font-size: 14px;
  color: red;
  animation: battery 1s linear infinite;
}
.status-bar .status-bar__battery-level {
  margin-left: 3px;
  font-weight: 600;
  /*animation: blink 1.5s linear infinite;*/
}

@keyframes battery {
  0% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(30deg);
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
    color: red;
  }
  50% {
    opacity: 0;
    color: inherit;
  }
  100% {
    opacity: 1;
    color: red;
  }
}
