.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0.7;
}

.status-bar i {
  font-size: 14px;
}

.status-bar i:last-child {
  font-size: 14px;
  color: red;
  animation: battery 3s linear infinite;
}
.status-bar .status-bar__battery-level {
  margin-left: 3px;
  animation: blink 1s linear infinite;
}

@keyframes battery {
  0% {
    transform: none;
  }
  20% {
    transform: rotate(-45deg);
  }
  40% {
    transform: none;
  }
  60% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

@keyframes blink {
  0% {
    color: inherit;
  }
  50% {
    color: red;
  }
  100% {
    color: inherit;
  }
}
